"*":
  core:
    disabledPackages: [
      "autocomplete-plus"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 15
    tabType: "soft"
  "exception-reporting":
    userId: "87854534-a821-6f15-64e5-2338771aefa5"
  livereload:
    exts: "html, css, js, png, gif, jpg, php, php5, py, rb, erb, coffee, skim, yml"
  welcome:
    showOnStartup: false
